*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family:"sans" 
}

@font-face {
    font-family: sans;
    src: url("../Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf");
}

@import "./header";
@import "./main";
@import "./input";
@import "./footer";

.container{
    width: 1300px;
    margin: 0 auto;
}
body{
    background-color: #F4F4F4;
}